*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

.gradle/
build/
**/build/

*.jks
*.keystore
*.p12
*.pem

*.jar
*.aar
*.so
*.dll
*.dylib

.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

*.log
.DS_Store
Thumbs.db
/app/release/

bugs
